$white: white;
$black: black;
$green-bg: #4caf50;
$light-green: #2e7030;
$red-bg: rgb(224, 127, 127);
$light-red: #b4332a;

.accepted-chip {
  background-color: $green-bg !important;
  color: $light-green !important;
}

.rejected-chip {
  background-color: $red-bg !important;
  color: $light-red !important;
}

.table {
  width: auto;
  max-width: 100%;
  overflow-x: auto;
  margin: 1rem;
  background-color: $white;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .mat-cell,
  .mat-header-cell {
    flex: 1;
    text-align: left;
    padding: 10px 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mat-mdc-cell {
    padding: 16px;
  }
}

.table .view-id {
  color: $black;
  cursor: pointer;
  text-decoration: unset;
}

@media (max-width: 600px) {
  .table {
    width: auto !important;
    margin-bottom: 1rem !important;
  }

  .mat-header-row,
  .mat-row {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .mat-cell,
  .mat-header-cell {
    flex: none;
    width: 100%;
    box-sizing: border-box;
  }

  .mat-mdc-paginator-range-actions {
    display: contents !important;
  }
}
