$white: #fff;

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  top: 0;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &-logo {
    height: 64px;
    width: auto;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
  }

  &-button {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 2rem;

    > button {
      margin-right: 0.5rem;
    }
  }
}
