<header class="header" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
  <div fxFlex="100%" fxFlex.xs="100%">
    <img class="header-logo" src="/assets/img/Logo.svg" alt="CentiGlobe">
  </div>
  <div class="header-button" fxFlex="50%" fxFlex.xs="100%">
    <button *ngIf="isLoggedIn()" mat-raised-button [routerLink]="['/payments']" color="primary">Payments</button>
    <button *ngIf="isLoggedIn()" mat-raised-button (click)="logout()" color="warn">Logout</button>
  </div>
</header>
<router-outlet></router-outlet>
