<section class="form-wrapper">
  <h1>Login Page</h1>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" *ngIf="!isLoading">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
      <mat-error *ngIf="form.get('username')?.invalid">Username is required!</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="form.get('password')?.invalid">Password is required!</mat-error>
    </mat-form-field>
  
    <button mat-button color="primary" (click)="submit()">Login</button>
  </form>
</section>